*,
*::before,
*::after {
	box-sizing: border-box;
}

/*Variáveis*/
:root{
    --ff-primary: "Nunito", Helvetica, Arial, sans-serif;

    --clr-green-dark: #049A40;
    --clr-green-light: #0BF96A;
    --clr-pink-dark: #E10BF9;
    --clr-pink-light: #F3A0FD;
    --clr-white: #F5F5F5;

}

/*Estilos gerais*/
body{
    background-color: var(--clr-white);
    font-family: var(--ff-primary);
}

a, a:hover a:active, a:link, a:visited{
    text-decoration: none;
    color: black;
}

/* Menu */
.menu-bg{
    background-color: var(--clr-green-light);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.logo{
    margin: 10px;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
}

.nav-link{
    padding: 20px 10px;
}

hr{
    border: none;
    background-color: var(--clr-pink-dark);
    height: 2px;
    width: 140px;
    margin: 20px auto;
}

p{
    line-height: 21.82px;
    padding: 0 10px;
}

.section-title{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
}

img{
    display: block;
    max-width: 100%;
}

/* 3. Header */
.intro{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    padding: 25px 0;
}

/* 4. Quem somos */
.somos{
    max-width: 960px;
    margin: 0 auto;
}

.somos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*grow, shrink, basis*/
.somos-content{
    flex: 6 1 160px;
}

.somos-img{
    flex: 1 1 350px;
}

/* 5. Nossos cursos*/
.cursos{
    max-width: 960px;
    margin: 0 auto;
}

.cursos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.curso{
    width: 280px;
    margin: 0 20px;
}

.curso p{
    text-align: justify;
}

.curso-title{
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0 5px 0;
    font-weight: bold;
}

/* 6. Planos*/
.planos{
    background-color: var(--clr-pink-light);
}

.planos-container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.plano{
    width: 290px;
    margin: 10px;
    border: 2px solid var(--clr-green-light);
}

.plano-title{
    font-size: 2.7rem;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}

.plano-preco{
    font-size: 3rem;
    display: block;
    text-align: center;
    font-weight: bold;
}

.plano-preco sup{
    position: relative;
    font-size: 1.5rem;
    top: -20px;
}

.plano-divisor{
    background-color: var(--clr-green-light);
    width: 20px;
    margin: 5px auto;
}

.plano-lista{
    max-width: 195px;
    margin: 0 auto;
}

.plano-lista-item{
    margin: 10px 0;
    font-style: italic;
    /* list-style-type: disc; */
    display: flex;
    align-items: center;
}

/*poderia usar um "list-style-type: disc" e tentar mudar a cor*/
.plano-lista-item::before{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: var(--clr-green-light);
    margin-right: 5px;
    border-radius: 5px;

}

.plano-btn{
    display: block;
    max-width: 180px;
    font-size: 2rem;
    font-weight: bold;
    margin: 15px auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid var(--clr-green-light);
}

/*seleciona o último filho do pai*/
.plano:last-child{
    background-color: var(--clr-green-light);
}

.plano:last-child, .plano:last-child  .plano-btn{
    border-color: var(--clr-pink-dark);
}

.plano:last-child .plano-lista-item::before, .plano:last-child .plano-divisor{
    background-color: #E10BF9;
}

@media (max-width: 800px){
    .plano:nth-child(3){
        order: -2;
    }
    .plano:nth-child(2){
        order: -1;
    }
}

/**********************************/
/* 7. Vantagens
/**********************************/

/**********************************/
/* 8. Newsletter
/**********************************/

/**********************************/
/* 9. Footer
/**********************************/